/* Universal Selector */
* {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  list-style-type: none;
}

div {
  align-content: center;
  margin: auto;
}

article {
  background-color: cornflowerblue;
  margin: 10px auto 10px auto;
  width: 30%;
  align-self: center;
}

p {
  margin: 20px auto 10px auto;
}
